## IF ELIF DAN ELSE

In [ ]:
x = 2
y = 3

if x < y:
    print('true')
if x > y:
    print('true') #tidak akan muncul hasil karena statement tidak terpenuhi
if x == y:
    print('true') #tidak akan muncul hasil karena statement tidak terpenuhi
if x <= y:
    print('true')

In [ ]:
harga_jeruk = 60000
standar_harga = 30000
#apabila harga jeruk > standar harga maka mahal, apabila harga jeruk < standar harga maka murah, apabila harga jeruk = standar maka biasa saja
if harga_jeruk > standar_harga:
    print ('mahal')
elif harga_jeruk < standar_harga:
    print ('murah')
elif harga_jeruk == standar_harga:
    print ('biasa')

In [ ]:
harga_jeruk = 50000
standar_harga = 30000
#apabila harga jeruk > standar harga maka mahal, apabila harga jeruk < standar harga maka murah, apabila harga jeruk = standar maka biasa saja
if harga_jeruk > standar_harga:
    print ('mahal')
elif harga_jeruk < standar_harga:
    print ('murah')
else:
    print ('biasa')

In [ ]:
harga_jeruk = int(input('masukkan harga jeruk='))
standar_harga = 70000
#apabila harga jeruk > standar harga maka mahal, apabila harga jeruk < standar harga maka murah
if harga_jeruk > standar_harga:
    print ('mahal')
else:
    print ('murah')

In [11]:
harga_pisang = 3000
total_belanja = int(input('masukkan jumlah pisang='))
harga = harga_pisang * total_belanja

if harga >= 100000:
    diskon = 0.1*harga
    total_bayar = harga - diskon
    print ('total belanja anda adalah IDR', harga, 'dengan diskon', diskon, 'jumlah yang harus dibayarkan', total_bayar)
elif harga >= 50000:
    diskon = 0.05*harga
    total_bayar = harga - diskon
    print ('total belanja anda adalah IDR', harga, 'dengan diskon', diskon, 'jumlah yang harus dibayarkan', total_bayar)
else:
    total_bayar = harga
    print('total belanja anda adalah IDR', total_bayar)
    
print ('jumlah pisang yang dibeli adalah', total_belanja, 'pisang')

masukkan jumlah pisang= 10

total belanja anda adalah IDR 30000
jumlah pisang yang dibeli adalah 10 pisang

## one-line if-statements

In [14]:
harga_jeruk = 50000
standar_harga = 30000
if harga_jeruk > standar_harga: print ('mahal');print('banget')
elif harga_jeruk < standar_harga: print ('murah')
else: print ('biasa')

mahal
banget

## conditional expressions

In [15]:
umur = 40
s = 'tua' if umur >= 35 else 'muda'
print (s)

tua

In [16]:
nama = 'ocha'
n = 'in class' if nama in ['ocha', 'caca', 'aca'] else 'out class'
print (n)

in class

In [25]:
gaji = int(input('masukkan jumlah gaji='))
year = int(input('masukkan lama service pegawai='))
if year > 10:
    bonus = 0.1*gaji
    total = gaji + bonus
    print('selamat anda mendapat bonus, total gaji anda adalah', total)
else:
    print('total gaji anda adalah', gaji)

masukkan jumlah gaji= 10000000
masukkan lama service pegawai= 11

selamat anda mendapat bonus, total gaji anda adalah 11000000.0

## for loop

In [ ]:
## objek yang bisa dilakukan looping adalah iterable (string, list, tuple, dictionary, dsb)

In [26]:
for i in ['foo','bar','baz','qux','quux','corge']:
    print(i+'ayam')

fooayam
barayam
bazayam
quxayam
quuxayam
corgeayam

In [27]:
for i in [1,2,3,4]:
    print(i+1)

2
3
4
5

In [28]:
for i in 'string':
    print(i)

s
t
r
i
n
g

## while loop

In [31]:
n = 5
while n > 0:
    n-=1
    print(n)

4
3
2
1
0

In [30]:
n = 5
n -=1
print(n)

4

In [34]:
n = 5
while n > 0:
    n-=1
    if n == 1:
        print('tinggal 1')
    else:
        print(n)

4
3
2
tinggal 1
0

In [39]:
## menggunakan ELSE
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print ('loop ended')

4
3
2
1
0
loop ended

## one-line while loop

In [45]:
n = 5
while n > 0:n-=1;print(n)

4
3
2
1
0

## break

In [ ]:
## digunakan untuk memberhentikan loop

In [36]:
n = 5
while n > 0:
    n-=1
    if n == 2:
        break
    print (n)
print('loop ended')

4
3
loop ended

In [40]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('loop ended') ## tidak pernah sampai disini karena sudah berhenti pada n = 2

4
3
2

## continue

In [ ]:
## digunakan untuk melanjutkan loop berdasarkan kondisi

In [38]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print ('loop ended')

4
3
1
0
loop ended

## nested if - else loop

In [44]:
# NESTED IF
umur = 43
gender = 'M'
if umur < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
if umur >= 18 and umur < 65:
    if gender == 'M':
        print('Dad')
    else:
        print ('Mom')

Dad

In [48]:
# NESTED FOR LOOPS
x = ['budi','joko','anwar']
for i in x:
    for j in i:
        print(j)

b
u
d
i
j
o
k
o
a
n
w
a
r

In [49]:
# NESTED FOR LOOPS
x = ['budi','joko','anwar']
for i in x:
    if i == 'joko':
        break
    for j in i:
        print(j)

b
u
d
i

In [ ]:
# NESTED FOR LOOPS
x = ['budi','joko','anwar']
for i in x:
    if i == 'joko':
        break
    for j in i:
        print(j)

b
u
d
i
j
o
k
o

## dictionary loop

In [51]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a:
    print(i)

A
B
C

In [61]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a:
    print(dictionary_a[i])

Bekasi
Jakarta
Medan

In [67]:
dictionary_a.values()

dict_values(['Bekasi', 'Jakarta', 'Medan'])

In [68]:
dictionary_a.keys()

dict_keys(['A', 'B', 'C'])

In [76]:
dictionary_a.items()

dict_items([('A', 'Bekasi'), ('B', 'Jakarta'), ('C', 'Medan')])

In [71]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.keys():
    print(i)

A
B
C

In [72]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.values():
    print(i)

Bekasi
Jakarta
Medan

In [79]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i,j in dictionary_a.items():
    print(i,j)

A Bekasi
B Jakarta
C Medan

In [63]:
for i in ['aster','jubah','nambo','hachi']:
    if 'b' in i:
        continue
    print(i)

aster
hachi

In [64]:
for i in ['aster','jubah','nambo','hachi']:
    if 'b' in i:
        pass
    print(i)

aster
jubah
nambo
hachi

In [65]:
for i in ['aster','jubah','nambo','hachi']:
    if 'b' in i:
           break
    print(i)
else:
    print('loop done')

aster

In [74]:
for i in range(5):
    print(i)

0
1
2
3
4

In [75]:
for i in range (20):
    print (i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [78]:
a = [1,2,3]
b = [4,5,6]
for i, j in zip(a,b):
    print(i,j)

1 4
2 5
3 6

In [80]:
a = [1,2,3]
b = [4,5,6]
for i, j in zip(a,b):
    print(i+j)

5
7
9

In [ ]:
i = 1
while i <= 20
    if i % 2 == 1:
        print(i)
    else:
        print ('genap')
    i += 1